@import url(./animation.css);

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --secondary: #ffffff;
  --accent: #ece5dd;
  --primary: #4f5255;
  --text: #4f5255a0;
  --accent-two: #25d366;
  --aclonica: "Aclonica", sans-serif;
  --cinzel: "Cinzel", serif;
  --inter: "Inter", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "";
  cursor: pointer;
}

h1 {
  font-size: 3.2rem;
  font-family: "Aclonica", sans-serif;
}

p {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

main {
  padding: 2% 4%;
}

header {
  padding: 2% 0;
  transition: 500ms ease-in-out;
  margin-bottom: 80px;
}

header > h1 {
  transition: 850ms ease-in-out;
}

header > h1.shift {
  transition: 850ms ease-in-out;
  transform: translate( 50px);
}

p.show {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--accent-two);
  color: var(--accent);
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Aclonica", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  animation: leftAndRight .8s linear 0s 1 alternate;
}


#todo-form {
  margin-bottom: 20px;
}

.text-wrapper {
  width: 100%;
  display: flex;
  width: 100%;
  position: relative;
}

.reply-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reply-img > img {
  width: 40px;
  display: block;
  transition: 800ms ease-in-out;
  visibility: hidden;
}

.reply-img > img.shake {
  width: 40px;
  display: block;
  transition: 800ms ease-in-out;
  animation: shake 2s linear 0s infinite alternate;
}

.reply-img > img.forward {
  width: 40px;
  display: block;
  transition: 800ms ease-in-out;
  animation: forward 2s linear 0s infinite alternate;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  transition: 500ms ease-in-out;
  background-color: var(--accent);
  border-radius: 10px 0px 0px 10px;
  border: transparent;
  outline: transparent;
  font-size: 1.6rem;
  padding-left: 15px;
  font-family: var(--inter);
}

input[type="text"]:focus {
  border: 1px solid var(--accent-two);
}

#text::placeholder {
  font-family: var(--poppins);
  font-size: 1.6rem;
}

button {
  width: 40%;
  border-radius: 0px 10px 10px 0px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--accent);
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: var(--accent-two);
  border: 1px solid var(--accent-two);
  color: var(--primary);
}


/*list result design*/
.list-result {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 10px 0px;
}

#todo-list {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease-in-out;
}

.check-wrapper {
  width: 5%;
  display: flex;
  justify-content: flex-start;
}

#check {
  display: block;
  width: 20px;
}

.todo-clear {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.todo-clear > img {
  display: block;
  width: 20px;
  object-fit: contain;
}

#todo-list > p.show-task {
  width: 95%;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--poppins);
  transition: 500ms ease-in-out;
  color: var(--primary);
}
/*
font-family: 'Aclonica', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
