*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --secondary: #ffffff;
  --accent: #ece5dd;
  --primary: #4f5255;
  --text: #4f5255a0;
  --accent-two: #25d366;
}

html {
font-size: 62.5%;
}


body {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "";
  cursor: pointer;
}

h1 {
  font-size: 3.2rem;
  font-family: "Aclonica", sans-serif;
}

p {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: var(--text);
	line-height: 1.6;
	word-spacing: 4px;
}


main {
  padding: 2% 4%;
}

header {
  margin-bottom: 100px;
}

.text-wrapper {
  width: 100%;
  display: flex;
  width: 100%;
  position: relative;
}

.reply-img {
  width: 50px;
  position: absolute;
  top: -70px;
  right: 50%;
}

.reply-img > img {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  height: 50px;
  transition: 500ms ease-in-out;
  border: 1px solid var(--primary);
  border-radius: 0px 0px 0px 0px;
  outline: transparent;
  font-size: 1.8rem;
  padding-left: 15px;
}

input[type="text"]:focus {
  border: 1px solid var(--accent-two);
}

button {
  width: 40%;
  border-radius: 0px 0px 0px 0px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--accent);
}

/*
font-family: 'Aclonica', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
