*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --secondary: #ffffff;
  --accent: #ece5dd;
  --primary: #4f5255;
  --text: #4f5255a0;
  --accent-two: #25d366;
}

html {
font-size: 62.5%;
}


body {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "";
  cursor: pointer;
}

main {
  padding: 2% 8%;
}

h1 {
  font-size: 3.2rem;
  font-family: "Aclonica", sans-serif;
}

p {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: var(--text);
	line-height: 1.6;
	word-spacing: 4px;
}
/*
font-family: 'Aclonica', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
